---
import { Image } from 'astro:assets';
import style from './CTA.module.css'
import trendingFlat from './trending-flat.svg'
---
<section class={style.cta}>
	<h2>What are you waiting for?</h2>
	<p>Let's start the discussion, message me on LinkedIn or continue scrolling to learn more.</p>
	<a href="https://www.linkedin.com/in/michealengland/">Message<Image src={trendingFlat} alt="Arrow icon"/></a>
</section>
