@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes rotate-right {
  0% {
    transform: rotate(90deg);
  }
  100% {
    margin: 0;
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  @apply relative font-mono flex items-center justify-center text-center text-white;

  @screen sm {
    &::after {
      @apply block absolute inset-x-0 inset-y-auto bg-nuetral-white opacity-0 mx-auto w-1;

      content: '';
      height: 2.75rem;
      transform: rotate(18deg);
      transition: 200ms linear all;
    }
  }

  &:hover {
    &::after {
      @apply sm:opacity-100;
    }

    & svg {
      @screen sm {
        &:first-child {
          transform: rotate(-90deg) translate(0, -0.75rem);
        }
        &:nth-child(2) {
          transform: rotate(90deg) translate(0, -0.75rem);
        }
      }
    }
  }

  & svg {
    @apply relative w-8 h-auto;

    fill: #fff;

    &:first-child,
    &:nth-child(2) {
      transition: 200ms linear all;
      transform: rotate(0deg);
    }
  }
}
