---
import BaseHead from '../../components/BaseHead.astro';
import Layout from '../../components/organisms/Layout'
import Posts from '../../components/molecules/Posts'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const isProd = import.meta.env.PROD;

// Filter out posts that are marked as drafts from being published on production.
const filterDraftPosts = (posts=[{data: {isDraft: false}}], isProd:boolean) => (
	! isProd ? posts :
	posts.filter((post) => post.data.isDraft !== true)
)

const posts = filterDraftPosts((await getCollection('blog')), isProd)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9TGK2GH"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<Layout>
			<Posts posts={posts} />
		</Layout>
	</body>
</html>
