---
import BaseHead from '../../components/BaseHead.astro';
import Layout from '../../components/organisms/Layout'
import Posts from '../../components/molecules/Posts'
import { SITE_TITLE, SITE_BLOG_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import twitterCard from '../../content/assets/charlie-walking-across-my-desk-800x418.jpg'

const isProd = import.meta.env.PROD;
const posts = (await getCollection('blog'))
	.filter((post) => !isProd || post.data.isDraft !== true)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_BLOG_DESCRIPTION}
			image={twitterCard.src}
			imageAlt="Mike England profile image."
		/>
	</head>
	<body>
		<Layout>
			<Posts
				title="Micheal England Development Blog"
				posts={posts}
			/>
		</Layout>
	</body>
</html>
