---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/organisms/Header/index'
import Footer from '../components/organisms/Footer/index'
import PageSchema from '../components/PageSchema.astro'
import twitterCard from '../content/assets/mike-england-web-cover-800x418.webp'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
			image={twitterCard.src}
			imageAlt="Mike England"
		/>
		<PageSchema />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hire me page.</h1>
		</main>
		<Footer />
	</body>
</html>
