---
import BaseHead from '../../components/BaseHead.astro';
import Layout from '../../components/organisms/Layout'
import Posts from '../../components/molecules/Posts'
import { getCollection } from 'astro:content';
import twitterCard from '../../content/assets/mike-england-wall-ride-350z-800x418.jpeg'

const isProd = import.meta.env.PROD;
const posts = (await getCollection('drift'))
	.filter((post) => !isProd || post.data.isDraft !== true)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title="Mike England Drift Journey"
			description="Join my adventure from watching 'Hyperdrive' to hitting the drift track. Insights on beginner cars and the thrill of drift racing."
			image={twitterCard.src}
			imageAlt="Mike England drifting white 350z at Kilkare Raceway along the banked wall."
		/>
	</head>
	<body>
		<Layout>
			<Posts
				title="Drift Diaries: My Journey from Spectator to Driver"
				posts={posts}
			/>
		</Layout>
	</body>
</html>