---
import style from './Skills.module.css'

interface Props {
	skills: Array<string>;
	title: string;
}

const { skills, title } = Astro.props;
---
<section id="skills" class={style.skills}>
	<h2>{title}</h2>
	<ul>
		{skills.map((skill) => (
			<li>{skill}</li>
		))}
	</ul>
</section>
<script>
document.addEventListener("DOMContentLoaded", () => {
	const entry = document.getElementById('skills');

	if (! entry) {
		console.error('entry missing')
		return;
	}

	const observer:IntersectionObserverCallback = new IntersectionObserver((el:HTMLElement, obs:IntersectionObserverInit):void => {
		const element = el[0]
		const isInteresecting = element?.isIntersecting;
		if (isInteresecting) {
			entry.classList.add('loaded')
		} else {
			entry.classList.remove('loaded')
		}
	}, { threshold: 0.7 });

	observer.observe(entry);
});
</script>
